<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name="keywords" content="票360全国最好的票据交易平台-票据360_商票360 票据交易平台 商票交易平台上海上民投供应链管理有限公司上民投供应链">
    <meta name="description" content="票据交易,
    商票交易票据,交易撮合,商票交易撮合,票据交易撮合平台,商票交易撮合平台,票据信息发布,商票信息发布,票据信息查看,商票信息查看,票据信息发布平台,商票信息发布平台,票据信息查看平台,商票信息查看平台"/>
    <title>【票360】全国靠谱的票据交易平台</title>
    <link th:href="@{css/app.84f04f346ae524fc02d2fda3d9787857.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{img/favicon.ico}" type=image/x-icon/>
</head>


<body id=scaleHeight>

<section id=scaleWidth>
    <div id=app></div>
</section>
<script type=text/javascript th:src="@{js/manifest.1766e3c7586055624ca0.js}">
</script>
<script type=text/javascript th:src="@{js/vendor.acb1583f72c97d424d2c.js}">
</script>
<script type=text/javascript th:src="@{js/app.fd54cc4bba2d1f225250.js}">
</script>


</body>

<style>
    #scaleWidth {
        width: 100%;
        height: 100%;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform-origin: left top;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
    }
</style>
<script>
    var w = window.screen.width || window.screen.availWidth; //width
    var h = window.screen.height || window.screen.availHeight; //height 屏幕高度以及可用工作区高度
    var w1 = w / 1200;

    if (w < 1024) {
        document.getElementById("scaleWidth").style.transform = 'scale(' + w1 + ')';
        document.getElementById("scaleWidth").style.WebkitTransform = 'scale(' + w1 + ')';
        document.getElementById("scaleWidth").style.MozTransform = 'scale(' + w1 + ')';
        document.getElementById("scaleHeight").style.height = h + "px"
        document.getElementById("scaleHeight").style.overflowY = "scroll"
    }


</script>


<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?5c486205c9d98c09033905564cc9cfaf";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</html>